.todo-container {
	display: flex;
	justify-content: center;
}

.todo-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

.inner-todo-container {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
	.inner-todo-container {
		min-width: 350px;
		width: 350px;
	}

	.todo-item-container {
		min-width: 180px;
	}

	.todo-list {
		margin-bottom: 50px;
	}
}
