@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Ultra&display=swap");
/* testing commits */
.App {
	height: 100vh;
	width: 100%;
	text-align: center;
	align-items: center;
	flex-direction: column;

	background: linear-gradient(
		-45deg,
		#b4a2fb,
		#ff9fd9,
		#ffb0b0,
		#ffd09b,
		#f5f1a9
	);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
	display: flex;
	flex-direction: column;
	font-size: 45px;
	margin-bottom: 60px;
	font-family: "Handlee", cursive;
}

.day-date {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	padding: 20px;
	font-family: "Handlee", cursive;
}
